.content-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    gap: 1rem;
}

.create-button{
    align-self: flex-end;
}

.heroi-list{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.card-heroi {
    max-width: 23%;
    height: 475px;
}